<div class="container">
    <mat-card>
        <mat-card-content>
            <form class="form">
                <p class="title">dar </p>
                <p class="message">Tec Environment</p>
                <label>
                    <input required="" placeholder="" type="text" class="input">
                    <span>Name</span>
                </label>
                
                <label>
                    <input required="" placeholder="" type="email" class="input">
                    <span>Email</span>
                </label> 
                    
                <label>
                    <input required="" placeholder="" type="password" class="input">
                    <span>Password</span>
                </label>
                <label>
                    <input required="" placeholder="" type="password" class="input">
                    <span>Confirm password</span>
                </label>
                        
                <button mat-flat-button color="primary">Register</button>
                <p class="signin">Already have an acount ? <a href="login">Login</a> </p>
            </form>
        </mat-card-content>
    </mat-card>
</div>