<div class="container">
    <mat-card>
        <mat-card-content>
            <form class="form">
                <p class="title">dar </p>
                <p class="message">Tec Environment</p>
                    <div class="flex">
                    <label>
                        <input required="" placeholder="" type="text" class="input">
                        <span>username</span>
                    </label>
            
                    <label>
                        <input required="" placeholder="" type="text" class="input">
                        <span>password</span>
                    </label>
                </div>  
                        
                <button mat-flat-button color="primary">Login</button>
                <p class="signin">Create a new account: <a href="registration">Register</a> </p>
            </form>
        </mat-card-content>
    </mat-card>
</div>