<div class="container">
    <mat-card>
        <mat-card-content>
            <form class="form" [formGroup] = "form">
                <p class="title">dar </p>
                <p class="message">Tec Environment</p>
                <div class="flex">
                    <label>
                        <input required="" formControlName="username" placeholder="" type="text" class="input">
                        <span>username</span>
                    </label>

                    <label>
                        <input required="" formControlName="password" placeholder="" type="password" class="input">
                        <span>password</span>
                    </label>
                </div>

                <button [disabled]="form.invalid" mat-flat-button color="primary" class="custombutton" (click)="login()">Login</button>
                <p class="signin">Create a new account: <a href="registration">Register</a> </p>
            </form>
        </mat-card-content>
    </mat-card>
</div>