@import '~bootstrap/dist/css/bootstrap.min.css';

:root {
    --main-color: #32DAC4;
    --secondary-color: #03a9f4;
    --darkgray: #404040;
    --tableHeaderColor: hsla(204, 17%, 94%, 0.815);
}

/*::ng-deep .mdc-text-field--invalid {*/
/*  color:red;*/
/*}*/
/*::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-required-marker {*/
/*  color: red;*/
/*}*/

/*forms title*/
.title {
    font-size: 38px;
    color: #32DAC4;
    font-weight: 600;
    letter-spacing: -1px;
    /*position: relative;*/
    /*display: flex;*/
    align-items: center;
    /*padding-left: 30px;*/
    align-self: center;
}

/*.title::before,.title::after {*/
/*  position: absolute;*/
/*  content: "";*/
/*  height: 16px;*/
/*  width: 16px;*/
/*  border-radius: 50%;*/
/*  left: 0px;*/
/*  background-color: royalblue;*/
/*}*/

/*.title::before {*/
/*  width: 18px;*/
/*  height: 18px;*/
/*  background-color: royalblue;*/
/*}*/

/*.title::after {*/
/*  width: 18px;*/
/*  height: 18px;*/
/*  animation: pulse 1s linear infinite;*/
/*}*/

.message,
.signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}

.signin {
    text-align: center;
}

.signin a {
    color: #32DAC4;
}

.signin a:hover {
    text-decoration: underline #32DAC4;
}



@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

* {
    padding: 0;
    margin: 0;
}

.activeLink {
    background-color: white;
    color: #11468f;
}

/*ng paginator*/
.page-link {
    color: var(--main-color) !important;
}

.active>.page-link,
.page-link.active {
    background-color: var(--main-color) !important;
    color: white !important;
    border: none;
    box-shadow: none;
}




/*loader*/
.loading svg polyline {
    fill: none;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.loading svg polyline#back {
    fill: none;
    stroke: #ff4d5033;
}

.loading svg polyline#front {
    fill: none;
    stroke: #ff4d4f;
    stroke-dasharray: 48, 144;
    stroke-dashoffset: 192;
    animation: dash_682 1.4s linear infinite;
}

@keyframes dash_682 {
    72.5% {
        opacity: 0;
    }

    to {
        stroke-dashoffset: 0;
    }
}

button {
    border-radius: 30px;
}